/* MAIN BRANDING COLOR 🥵 */

:root {
  --primary-gradient: linear-gradient(90deg, #FFA83F, #FF5E25); /* swap with your brand colors */
  --test: #79ff04;
}

.text-primary {
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* FONTS */

/* poppins */
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

}
.poppins {
    font-family: Poppins;
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
    
.poppins-bold {
    font-family: Poppins;
    font-weight: 600;
}

/* montserrat (i've been calling it monsterrat for so long) */
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
.montserrat {
    font-family: Montserrat;
    font-style: normal;
}